@layer components {
  .item-activo {
    box-shadow: var(--neumo-shadow-inset);
  }

  /* Clase genérica para cualquier elemento clickeable */
  .clickable {
    transition:
      box-shadow 0.2s ease,
      transform 0.2s ease;
    cursor: pointer;
    position: relative;

    /*Un overlay con pseudo-elemento (más control, no afecta box-shadow ni hijos)*/
    &:hover::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: inherit;
      pointer-events: none;
    }

    &:is(.neumo-convex):active:not(:has(button:active)) {
      background: var(--base-color-concave);
    }

    &:is(.neumo-flat, .neumo-convex):active:not(:has(button:active)) {
      box-shadow: var(--neumo-shadow-inset);
    }
  }

  /* Variantes de superficie */
  .neumo-flat {
    background: var(--base-color);
    box-shadow: var(--neumo-shadow);
  }

  .neumo-convex {
    background: var(--base-color-convex);
    box-shadow: var(--neumo-shadow);
  }

  .neumo-inset {
    background: var(--base-color);
    box-shadow: var(--neumo-shadow-inset);
  }

  .neumo-concave {
    background: var(--base-color-concave);
    box-shadow: var(--neumo-shadow-inset);
  }

  .neumo-gradient {
    background: linear-gradient(
      to right,
      hsl(0, 0%, 30%) 20%,
      color-mix(in srgb, var(--shadow-light), black 10%) 55%,
      color-mix(in srgb, var(--base-color), black 5%)
    );
  }

  .dark {
    /* 1. Forzamos los colores oscuros */
    --base-color: var(--base-color-dark);
    --text-main: var(--text-main-dark);
    --intensity: var(--intensity-dark);

    /* 2. RE-CALCULAMOS las sombras individuales para este botón */
    --shadow-light: color-mix(
      in srgb,
      var(--base-color),
      white var(--intensity)
    );
    --shadow-dark: color-mix(
      in srgb,
      var(--base-color),
      black var(--intensity)
    );

    /* 3. RE-ARMAMOS la sombra completa */
    --neumo-shadow:
      var(--distance) var(--distance) var(--blur) var(--shadow-dark),
      calc(var(--distance) * -1) calc(var(--distance) * -1) var(--blur)
        var(--shadow-light);

    --neumo-shadow-inset:
      inset var(--distance) var(--distance) var(--blur) var(--shadow-dark),
      inset calc(var(--distance) * -1) calc(var(--distance) * -1) var(--blur)
        var(--shadow-light);

    /* 4. Aplicamos al botón */
    color: var(--text-main);
  }

  .separador {
    margin-left: auto;
    /* Empuja el 3 y el 4 hacia la derecha */
  }
}
