@layer components {
    .button {
        border: none;
        border-radius: 15px;
        /* 7px arriba y abajo | 20px izquierda y derecha */
        padding: 7px 15px;
        margin: 7px;
        font-weight: 700;
    }

    .buttonRed {
        --base-color: #ff6b6b;
        color: white;
    }

    .buttonGradient {
        /* Aquí sobrescribimos el background para poner el degradado */
        background: linear-gradient(145deg, #ff9a9e, #fad0c4);
        /* Y ajustamos el texto para que se lea mejor */
        color: #333;
    }
}