@layer components {
  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    border-style: none;
    gap: 15px;
    padding: 5px;
    margin: 2px;
  }
}
