/******************* COMPONENTES (MODAL) *************************/
@layer components {
  /* 1. EL FONDO OSCURO (OVERLAY) */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* Usamos un negro translúcido */
    background-color: rgba(0, 0, 0, 0.45);

    /* Capa por encima de tu CSS Grid Layout */
    z-index: 1000;

    /* Centrado absoluto del formulario */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 2. EL CUERPO DEL MODAL (APLICADO AL PROPIO <form> O SU CONTENEDOR) */
  .modal-content {
    /* Dimensiones adaptables para dispositivos móviles */
    width: 85%;
    max-width: 900px;
    max-height: 95vh;
    /* Scroll interno si el formulario es muy largo */
    overflow-y: auto;

    /* Animación sutil de entrada para que no aparezca de golpe */
    animation: neumo-modal-aparecer 1s ease-out forwards;

    /* Para posicionar el boton cruz */
    position: relative;
  }

  .modal-cerrar-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  @keyframes neumo-modal-aparecer {
    0% {
      opacity: 0;
      transform: scale(0.01);
    }

    70% {
      opacity: 1;
      transform: scale(1.03);
      /* ← Se pasa un poquito */
    }

    100% {
      opacity: 1;
      transform: scale(1);
      /* ← Vuelve a su tamaño real */
    }
  }
}
